* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f8f8f5e5;
    color: #1d2129;
}

.Post {
    border: 1px solid hsl(216, 8%, 88%);
    border-radius: 4px;
    width: 776px;
    margin: 20px auto;
    padding: 15px;
    background-color: #ffffff;
}

.Post__item {
    border: 1px solid hsl(216, 10%, 87%);
    border-radius: 4px;
    background-color: #f7f7f7;
    margin: 20px 20px;
    padding: 15px;
}

.Post__title {
    font-weight: 400;
    font-size: 20px;
}

.Post__image {
    width: 100%;
    margin-top: 15px;
}