* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #f8f8f5e5;
    color: #1d2129;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .Post {width: 100%; font-size: 16px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .Post {width: 70%; font-size: 20px;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 .Post__item { width: 400px; }
}

.Post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid hsl(216, 8%, 88%);
    border-radius: 4px;
    /* width: 80%; */
    margin: 20px auto;
    padding: 15px;
    background-color: #ffffff;
}

.Post__item {
    flex-grow: 1;
    flex-shrink: 1;
    border: 1px solid hsl(216, 10%, 87%);
    border-radius: 4px;
    background-color: #f7f7f7;
    margin: 20px 20px;
    padding: 15px;
}

.Post__title {
    font-weight: 400;
    /* font-size: 20px; */
    /* line-height: 50px; */
}

.Post__image {
    width: 100%;
    margin-top: 15px;
}

.Post__donate {
    background-color: rgb(226, 219, 220, 27%);
    height: 200px;
    margin: 20px 0px;
    padding: 20px;
}

.Post__donate__content {
    margin: 10px;
}

.Button__donate {
    cursor: pointer;
}

.Btn__close {
    border: none;
    background: none;
    padding: 0;
    margin: 5px 5px;
    float: right;
    cursor: pointer;
}

.Form__donate {
    margin: 20px;
    text-align: center;
}

.Form__checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 20px 20px;
}

.Form__submit {
    font-size: '25px'; 
    padding: '5px'; 
    width: '160px'; 
    cursor: 'pointer';
}

.Navbar{
    color: #ffffff;
    padding: 10px;
    background: #22AAA1;
    text-align: center;
    font-size: x-large;
}

.hide {
    display: none;
}
